<div class="card-body">
    <form [formGroup]="formTitulo">
        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="titulo">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('titulo')">
                O titulo deve ser preenchido!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Diretor</label>
            <input type="text" class="form-control" formControlName="diretor">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('diretor')">
                O diretor deve ser preenchido!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Atores</label>
            <input type="text" class="form-control" formControlName="atores">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('atores')">
                A atores deve ser preenchido!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" cols="30" rows="5" formControlName="descricao" maxlength="200"></textarea>
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('atores')">
                A descrição deve ser preenchida!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Gênero</label>

            <select class="form-control" name="estado" id="estado" formControlName="genero">
                <option value="" selected disabled>Selecione um gênero</option>
                <option *ngFor="let genero of listaGeneros" [value]="genero">{{genero}}</option>
            </select>
        </div>

        <div class="mb-3" style="display: none;">
            <input type="password" class="form-control" formControlName="imdbID">
            <input type="password" class="form-control" formControlName="linkImagem">
        </div>


        <button type="button" class="btn btn-warning w-100 mt-2" (click)="cadastrarTitulo()"
            [disabled]="!formTitulo.valid">
            Cadastrar
        </button>
    </form>
</div>