.img-titulo {
    width: 200px;
    height: 300px;
    background-color: red;
    overflow: hidden;
    border: 5px solid black;
}

.img-titulo img {
    width: 200px;
    height: 300px;
    object-fit: cover; 
}

.titulo {
    font-size: 25px;
    font-weight: 500;
}

.bold {
    font-weight: 500;
}


#avaliar span{
    padding: 7px;
    background: #000;
    color: #fff;
    height: 30px;
    width: 30px;
    margin: 2px;
    cursor: pointer;
}

#avaliar span:hover{
    color: #ffc107;

}

.star {
    color: #ffc107;
}