.titulo {
    width: 220px;
    height: 320px;
    margin: 2em;
    transition: .3s linear all;
    border-radius: 10px;
    background-color: #212529;
    color: white;
    cursor: pointer;
}

.titulo:hover {
    transform: scale(1.2);
}

.img-titulo {
    width: 220px;
    height: 230px;
    overflow: hidden;
}

.img-titulo img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.descricao-titulo {
    font-weight: 500;
    margin: 5px;
}

.descricao-titulo p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nota p {
    font-size: 18px;
}

.star {
    font-size: 17px;
    color: #ffc107;
}

.titulo-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.titulo-container::before,
.titulo-container::after {
    content: '';
    width: 100%;
    order: 1;
}

.search {
    font-size: 19px;
    margin: 5px;
}

.search-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.content {
    padding: 1em 0;
    margin: 0 2px;
}