<div class="table-reponsive">

    <table class="table">

        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Role</th>
                <th>
                    Ação
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                        data-bs-target="#addUsuario">
                    </button>
                </th>
            </tr>
        </thead>


        <tbody>
            <tr *ngFor="let usuario of listaUsuarios">
                <td class="text-center">{{usuario.id}}</td>
                <td class="text-center">{{usuario.nome}}</td>
                <td class="text-center">{{usuario.email}}</td>
                <td class="text-center">{{usuario.role}}</td>
                <td class="text-center">
                    <a routerLink="/usuarios/editar/{{usuario.id}}" class="btn btn-sm btn-warning">
                        <span class="material-icons-round">edit</span>
                    </a>

                    &nbsp;

                    <button (click)="remover(usuario.id)" type="button" class="btn btn-sm btn-danger">
                        <span class="material-icons-round">remove_circle</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div class="modal fade" id="addUsuario" target="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Adicionar novo Cliente
                </h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>